// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// base styles
* {
    font-family: 'Roboto', sans-serif;
}


// navigation styles
#main-nav {
    .container {
        width: 55rem;
        max-width: 90%;
    }
}

#main-menu {
    flex: 1;
    justify-content: space-between;

    li a {
        font-weight: 400;
        color: white;
        letter-spacing: .05rem;
    }
}

.mobile-nav {
    display: none;
}

@media(max-width: 775px) {
    #main-nav {
        display: none;
    }

    .mobile-nav {
        display: inline-block;
        height: 1.5rem;
        width: 100%;
        border-bottom: .1rem solid $primary-blue;

        a {
            position: fixed;
            top: 3.8rem;
            right: 2rem;
            color: black;
            font-weight: 500;
            font-size: 1.15rem;
            display: flex;
            align-items: center;

            .fa {
                color: $primary;
                font-size: 1.5rem;
                margin-left: .35rem;
            }
        }
    }
}


// header styles
.top-header {
    width: 65em;
    max-width: 90%;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    &__logo {
        img {
            height: 7.5em;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &-info {
            span {
                .fa-phone, .fa-map {
                    color: $primary;
                    margin-right: .2rem;
                }

                &:first-child {
                    margin-right: .5em;
                }
            }
        }

        h3 {
            border: .15rem solid $primary;
            font-family: 'Amatic SC', cursive;
            font-weight: 700;
            font-size: 2.2em;
            border-radius: .25em;
            padding: .25em .5em;
            margin-top: .25em;
        }
    }

    &__social-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        padding: 0;

        &Item {
            margin-left: .5em;

            &:last-child {
                margin-left: .75em;
            }

            img {
                width: 1.75em;
            }
        }
    }
}

.bottom-header {
    &__banner {
        background: linear-gradient(transparent, rgb(255,255,255) 99%),
                    url('../img/home-banner.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 28em;
        padding: .1rem;
        position: relative;

        h2 {
            font-family: 'Amatic SC', cursive;
            font-size: 4rem;
            position: absolute;
            bottom: 2rem;
            left: 35%;
            font-weight: 700;
            transform: translateX(-50%);
        }
    }

    &__list {
        width: 55rem;
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
        list-style: none;
    }

    &__listItem {
        width: 32%;
        border-radius: 50%;
        position: relative;
        border: .9em solid $primary;
        margin: 0 1em;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        span {
            position: absolute;
            bottom: .75em;
            right: -1.5em;
            z-index: 50;
            color: white;
            background-color: $primary-blue;
            font-size: 1.1em;
            padding: .45em 1em;
            border: .05em solid white;
            border-radius: .15em;
            font-family: 'Caladea', serif;
        }

        &:nth-child(2) {
            border: .9rem solid $primary-blue;

            span {
                background-color: $dark-blue;
            }
        }

        &:nth-child(3) {
            border: .9rem solid $dark-blue;

            span {
                background-color: $primary;
            }
        }
    }
}

@media(max-width: 950px) {
    .bottom-header {
        &__banner {
            height: 17.5rem;

            h2 {
                left: 5%;
                transform: translateX(0);
            }
        }
    }
}

@media(max-width: 775px) {
    .top-header {
        flex-direction: column;
        align-items: center;
        min-width: 100%;

        &__logo {
            max-width: 90%;
            width: 22.5rem;
            height: auto;
            margin: 2rem 0 1rem;

            img {
                width: 100%;
                height: auto;
            }
        }

        &__main {
            width: 90%;

            &-info {
                span:first-child {
                    position: fixed;
                    top: 4rem;
                    left: 2rem;
                    font-weight: 500;
                    font-size: 1.1rem;
                }

                span:last-child {
                    display: none;
                }
            }

            h3 {
                width: 100%;
                text-align: center;
            }
        }

        &__social-list {
            display: none;
        }
    }
}


// welcome section styles
.welcome {
    &__heading {
        display: inline-block;
        margin: 5.5rem 0 1rem;
        text-align: center;
        width: 100%;

        h2 {
            font-size: 3.5rem;
            font-family: 'Amatic SC', cursive;
            line-height: 3rem;

            &:first-child {
                color: $primary;
                font-weight: 700;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 60rem;
        max-width: 90%;
        margin: 5rem auto;

        &-container {
            width: 75%;

            p {
                font-size: 1.25rem;
                font-weight: 300;

                &:first-child {
                    color: $primary-blue;
                    font-weight: 500;
                }
            }
        }

        &-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: $dark-blue;
            color: white;
            font-size: 1rem;
            padding: .75rem 1.5rem;
            width: 10rem;
            border-radius: .25rem;

            h5 {
                margin: 0;
                font-family: 'Caladea', serif;
            }

            &:hover {
                text-decoration: none;
                color: white;
            }
        }
    }
}


// mothers-day section styles
.mothers-day {
    background: linear-gradient(transparent, rgb(255,255,255) 90%),
                url("../img/news-bg.png");
    padding: .1rem;

    &__container {
        width: 60rem;
        max-width: 90%;
        margin: 7.5rem auto 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__image {
        width: 17rem;
        border-radius: 50%;
        border: .9rem solid $dark-blue;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2.5rem;

        img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
        }

        span {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.25rem;
            padding: .35rem 0;
            width: 9rem;
            border: .1rem solid white;
            border-radius: .25rem;
            color: white;
            font-weight: 400;
            text-align: center;
            font-family: 'Caladea', serif;

            &:first-child {
                top: -.25rem;
                background-color: $primary;
            }

            &:last-child {
                bottom: -.25rem;
                background-color: $primary-blue;
            }
        }
    }

    &__info {
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h3 {
            font-family: 'Amatic SC', cursive;
            font-weight: 700;
            font-size: 3rem;
            color: $primary;
        }

        p {
            font-weight: 300;
            font-size: 1.25rem;
            margin: .5rem 0 1.75rem;
        }
    }

    &__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 10rem;
        padding: .75rem 1rem;
        background-color: $dark-blue;
        border-radius: .25rem;

        h5 {
            margin: 0;
            color: white;
            font-family: 'Caladea', serif;
        }

        .fa-chevron-right {
            color: white;
        }
    }
}


// about section styles
.about {
    background: linear-gradient(rgba(50, 78, 85, .9), rgba(50, 78, 85, .9)),
                url("../img/about-background.jpg");
    background-position: center;
    background-size: cover;
    margin: 5rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        display: inline-block;
        width: 60rem;
        max-width: 90%;
        margin: 5rem auto 2rem;

        h2:first-child {
            color: $primary-blue;
            font-family: 'Amatic SC', cursive;
            font-size: 4.5rem;
            font-weight: 700;
            margin-bottom: 0;
            line-height: 3.5rem;
        }

        h2:last-child {
            color: white;
            font-weight: 300;
            font-size: 2.5rem;
            margin-top: 0;
            font-family: 'Caladea', serif;
        }
    }

    &__info {
        width: 60rem;
        max-width: 90%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 5rem;

        &-container {
            width: 75%;
            margin-right: 2.5rem;

            p:first-child {
                color: $primary-blue;
                font-size: 1.1rem;
            }

            p:last-child {
                color: white;
                font-weight: 300;
                font-size: 300;
                opacity: .85;
                line-height: 2rem;
            }
        }
    }

    &__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $primary;
        width: 10rem;
        padding: .5rem 1rem;
        border: .1rem solid $white;
        border-radius: .25rem;
        
        h5 {
            color: white;
            margin: 0;
            font-family: 'Caladea', serif;
        }

        .fa-chevron-right {
            color: white;
        }
    }
}


// testimonials section styles
.testimonials {
    background: url("../img/testimonials-bg.png");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 37.5rem;

    &__container {
        position: absolute;
        top: 8.5rem;
        left: 65%;
        transform: translateX(-50%);

        h3 {
            font-family: 'Amatic SC', cursive;
            font-weight: 700;
            font-size: 4rem;
        }
    }

    &__testimonial {
        width: 30rem;
        padding: 3rem 2rem;
        background-color: $primary;
        color: white;
        border: solid .1rem white;
        border-radius: .5rem;
        margin-top: 1.5rem;

        p {
            line-height: 1.85rem;
            font-weight: 300;
            font-size: 1.1rem;
            opacity: .85;
        }

        hr {
            background-color: white;
            opacity: .75;
            margin: 1.25rem 0;
        }

        span {
            font-size: 1.25rem;
            font-weight: 300;
        }
    }
}


// newsletter section styles
.newsletter {
    background: url("../img/subscribe-bg.png");
    background-position: center;
    background-size: cover;
    padding: .1rem;

    &__container {
        margin: 5rem auto;
        width: 45rem;
        max-width: 90%;
    }

    &__heading {
        h3:first-child {
            font-family: 'Amatic SC', cursive;
            color: $primary-blue;
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 2rem;
            margin-left: 1.5rem;
        }

        h3:last-child {
            font-weight: 300;
            font-size: 2.5rem;
            color: white;
            font-family: 'Caladea', serif;
        }
    }

    &__form {
        margin-top: 2.5rem;

        input[type="text"] {
            border: .1rem solid $primary-blue;
            border-radius: .15rem;
            text-indent: .5rem;
            font-size: .95rem;
            height: 2.5rem;
            width: 14rem;
            margin-right: .5rem;
            outline: none;
        }

        input[type="submit"] {
            color: white;
            background-color: $primary;
            border: .1rem solid $primary;
            border-radius: .15rem;
            padding: .36rem 3rem;
            outline: none;
        }
    }
}


// social section styles
.social {
    &__heading {
        width: 45rem;
        max-width: 90%;
        margin: 6rem auto 2rem;

        h2:first-child {
            font-family: 'Amatic SC', cursive;
            color: $primary;
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 2rem;
            margin-left: 1.5rem;
        }

        h2:last-child {
            font-weight: 300;
            font-size: 2.5rem;
            font-family: 'Caladea', serif;
            letter-spacing: .1rem;
        }
    }

    &-card {
        width: 40rem;
        margin: 2rem auto 5rem;
        border: .1rem solid $primary;
        border-radius: .25rem;
        padding: 1.5rem;

        &__heading {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 1rem;

            img {
                height: 2.5rem;
            }

            h5 {
                margin: 0;
                font-family: 'Amatic SC', cursive;
                font-size: 2.5rem;
                font-weight: 700;
                color: $primary;
                margin-left: .5rem;
            }
        }

        &__container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }

        &__info {
            margin-left: 1.5rem;

            &-heading {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-start;

                span {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: flex-start;
                    margin-right: 1rem;
                }

                h5 {
                    margin: 0;
                    font-weight: 400;
                    font-size: 1rem;
                }

                .fa {
                    color: $primary-blue;
                    margin-right: .5rem;
                    font-size: 1.5rem;
                }
            }

            &-line {
                background-color: $primary-blue;
            }

            p {
                font-size: 1rem;
                font-weight: 300;
            }

            button {
                border: none;
                border-radius: .25rem;
                color: white;
                background-color: $dark-blue;
                font-size: 1rem;
                font-weight: 400;
                height: 2.75rem;
                width: 12rem;
                padding-left: .75rem;
                text-align: left;
            }
        }
    }
}


// contact section styles
.contact {
    background: linear-gradient(rgba(50, 78, 85, .9), rgba(50, 78, 85, .9)),
                url("../img/about-background.jpg");
    background-size: cover;
    background-position: center;
    padding: .1rem;

    &__heading {
        width: 45rem;
        max-width: 90%;
        margin: 6rem auto 2rem;

        h2:first-child {
            font-family: 'Amatic SC', cursive;
            color: $primary;
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 2rem;
            margin-left: 1.5rem;
        }

        h2:last-child {
            font-weight: 300;
            font-family: 'Caladea', serif;
            font-size: 2.5rem;
            letter-spacing: .1rem;
            color: white;
        }
    }

    &__line {
        background-color: white;
        opacity: .55;
    }

    &-form {
        width: 50rem;
        max-width: 90%;
        margin: 3rem auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        &__left {
            display: flex;
            flex-direction: column;
            width: 48.5%;

            input {
                height: 2.75rem;
                margin-bottom: 1rem;
                text-indent: .5rem;
                outline: none;
                border: .1rem solid $primary;
                border-radius: .25rem;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            width: 48.5%;

            textarea {
                border: .1rem solid $primary;
                border-radius: .25rem;
                text-indent: .5rem;
                padding-top: .35rem;
                height: 5rem;
                outline: none;
            }

            input[type="submit"] {
                height: 2.75rem;
                color: white;
                background-color: $primary;
                border: .1rem solid $primary;
                border-radius: .25rem;
                margin-top: 1rem;
                outline: none;
                font-size: 1rem;
            }
        }
    }
}


// footer styles
.footer {
    background-color: $primary-blue;
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65rem;
        max-width: 90%;
        margin: 1.5rem auto;

        h5 {
            color: white;
            font-size: 1.25rem;
            font-family: 'Amatic SC', cursive;
            letter-spacing: .1rem;
            font-weight: 700;
            margin: 0;
        }

        .arrow-up {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            .fa-chevron-up {
                color: white;
            }

            p {
                color: white;
                margin: 0;
                font-family: 'Caladea', serif;
            }
        }

        img {
            height: 4rem;
        }
    }
}